---
const { descripcion } = Astro.props;
---

<div class="col-span-1 flex flex-col justify-center items-center gap-5 w-full lg:pt-26">
  <h1 transition:name="t-nosotros" transition:animate="fade" class="text-4xl text-center font-[800] md:text-6xl xl:text-8xl text-amber-200">Nosotros</h1>
  <p class="text-center text-lg lg:text-xl xl:text-3xl mt-4 prose prose-invert p-8 lg:p-10">{descripcion}</p>

<!-- Marquee Container -->
<div class="marquee-container mask-x-from-90% to-100%">
  <span class="text-xs md:text-lg xl:text-2xl ml-15 p-5">Nuestros principales aliados</span>
  <!-- Logos wrapper (animated) -->
  <div class="marquee-content flex flex-row gap-8 p-5 ">
    <div class="marquee-track ">
      <a href="https://www.doomos.cl" target="_blank" rel="noopener noreferrer" class="h-12 inline-block transform transition-all hover:scale-105"><img src="/logo/logo-doomos.webp" alt="Logo Doomos" class="h-12 inline-block" /></a>
      <a href="https://www.portalinmobiliario.com" target="_blank" rel="noopener noreferrer" class="h-12 inline-block transform transition-all hover:scale-105"><img src="/logo/logo-portalinmobiliario.webp" alt="Logo Portal Inmobiliario" class="h-12 inline-block" /></a>
      <a href="https://www.toctoc.com" target="_blank" rel="noopener noreferrer" class="h-12 inline-block transform transition-all hover:scale-105"><img src="/logo/logo-toctoc.webp" alt="Logo Toctoc" class="h-12 inline-block" /></a>
      <a href="https://www.yapo.cl/bienes-raices-venta-de-propiedades-casas/region-metropolitana-santiago" target="_blank" rel="noopener noreferrer" class="h-12 inline-block transform transition-all hover:scale-105"><img src="/logo/logo-yapo.webp" alt="Logo Yapo" class="h-12 inline-block" /></a>
    </div>
    <div class="marquee-track">
      <a href="https://www.doomos.cl" target="_blank" rel="noopener noreferrer" class="h-12 inline-block transform transition-all hover:scale-105"><img src="/logo/logo-doomos.webp" alt="Logo Doomos" class="h-12 inline-block" /></a>
      <a href="https://www.portalinmobiliario.com" target="_blank" rel="noopener noreferrer" class="h-12 inline-block transform transition-all hover:scale-105"><img src="/logo/logo-portalinmobiliario.webp" alt="Logo Portal Inmobiliario" class="h-12 inline-block" /></a>
      <a href="https://www.toctoc.com" target="_blank" rel="noopener noreferrer" class="h-12 inline-block transform transition-all hover:scale-105"><img src="/logo/logo-toctoc.webp" alt="Logo Toctoc" class="h-12 inline-block" /></a>
      <a href="https://www.yapo.cl/bienes-raices-venta-de-propiedades-casas/region-metropolitana-santiago" target="_blank" rel="noopener noreferrer" class="h-12 inline-block transform transition-all hover:scale-105"><img src="/logo/logo-yapo.webp" alt="Logo Yapo" class="h-12 inline-block" /></a>
    </div>
  </div>
</div>

<style>
  .marquee-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: auto;
  }

  .marquee-content {
    display: flex;
    width: max-content;
    animation: marquee 20s linear infinite;
  }

  .marquee-track {
    display: flex;
    gap: 2rem;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
<script>
  import gsap from "gsap";
  import SplitText from "gsap/SplitText";
  gsap.registerPlugin(SplitText);
  const container = document.querySelector(".marquee-container");
  const text = document.querySelector("p");
  const split = new SplitText(text, { type: "words" });
  gsap.fromTo(split.words, { y: 50, opacity: 0 }, { y: 0, opacity: 1, duration: 1, ease: "power2.out", stagger: 0.05 });
  gsap.fromTo(container, {opacity: 0}, {opacity: 1, duration: 1.5, ease: "power2.out", delay: 0.5});

</script>
