---

const {titulo}= Astro.props;

---
<div class="text-white">
    <div class="col-span-1 p-8 flex flex-col items-center justify-center">
        <h1 transition:name="t-faq" transition:animate="fade" class="text-4xl mb-4">{titulo}</h1>
    </div>

</div>