@import "tailwindcss";

@plugin "@tailwindcss/typography";
@font-face {
    font-family: 'EBGaramond';
    src: url('/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraMono';
    src: url('/fonts/Fira_Mono/FiraMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
