@import "tailwindcss";
@font-face {
    font-family: 'Aboreto';
    src: url('/fonts/Aboreto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}