---
import LayoutPages from "@layouts/Layout-Pages.astro";
import NavGeneral from "@components/NavGeneral.astro";
import MidLayer from "@components/Contacto/mid-layer.astro";
import FormContacto from "@components/Contacto/formulario-contacto.astro"
---

<LayoutPages>
    <link rel="canonical" href="https://www.anhousepropiedades.cl/contacto/">
    <NavGeneral/>
    <main class=" w-screen h-screen grid grid-cols-2 max-sm:grid-cols-1 overflow-scroll">
        <!-- div de imagen que cubre media pantalla -->
        <MidLayer/>
        <!-- DIV DEL FORMULARIO DE CONTACTO -->
        <FormContacto/>
    </main>
</LayoutPages>
<style>
  main::-webkit-scrollbar {
      display: none;
    }
</style>

