---
import LayoutPages from "@layouts/Layout-Pages.astro"
import NavGeneral from "@components/NavGeneral.astro"
import About from "@components/Nosotros/about.astro"
import Faq from "@components/Nosotros/faq.astro"
import { getEntry,render } from "astro:content"
const faq = await getEntry<'FAQ','preguntas'>("FAQ","preguntas");
let Content ;
if(faq)
{
    const renderedContent = await render(faq);
    Content = renderedContent.Content;
}
---
<LayoutPages>
  <NavGeneral />
  <main class="w-full h-screen pt-32 overflow-scroll grid grid-cols-1 lg:grid-cols-3 lg:pt-0 items-center justify-center text-white">
    <div class="col-span-1 flex items-center justify-center order-1 lg:order-2">
        <About descripcion={[faq?.data.descripcion]}/>
    </div>
    <div class="col-span-2 p-8 order-2 lg:order-1">
        <Faq titulo={[faq?.data.titulo]} />
        <div class="prose prose-invert grid grid-cols-2 place-items-center justify-center mx-auto text-xs">
            {Content && <Content  />}
        </div>
    </div>
    
    
  </main>
</LayoutPages>