---
import Nav from "../Nav.astro"
---
<div class="relative h-screen w-full">
    <video 
        src="/video/Videoacpropiedades.mp4" 
        autoplay 
        loop
        muted
        preload="none" 
        poster="/images/posterVideo.webp" 
        playsinline
        class="absolute top-0 left-0 w-full h-full object-cover z-0"
    ></video>
    <div class="absolute top-0 left-0 w-full h-full bg-gray-700/70 z-10"></div>
    <main class="grid grid-cols-2 place-items-center h-screen relative z-20"> 
        <section class="px-4 flex items-center justify-center flex-col">
            <a href="/servicios" class="w-3/4 h-auto cursor-grabbing">
                <img src="/logo/ac-propiedades-high-resolution-logo-transparent.webp" alt="Logo A&C Propiedades" class="w-auto" />
            </a>
            
        </section>
        <section class="px-4 flex items-center justify-center">
            <Nav/>
        </section>
    </main>
</div>
<style>
    *{
        font-family: Aboreto;
    }
</style>