<div class=" relative pt-30 h-full bg-[url('/images/propertyBroker2.jpg')] bg-cover bg-center mask-r-from-70% to-100% col-span-1 flex flex-col justify-start items-start md:pt-40 md:gap-4 md:p-6 md:w-full md:h-screen">
    <h1 transition:name="t-contacto" transition:animate="fade" class="w-2xs pl-10 pt-2 text-amber-400 text-3xl leading-tight line-clamp-3 h-[6em] font-extrabold md:text-4xl lg:text-5xl">¿Como te podemos Ayudar?</h1>
    <div class="absolute top-0 left-0 w-1/2 h-full bg-transparent backdrop-blur-sm mask-r-from-80% to-100% -z-10"></div>
</div>
<style>
    h1 {
        font-family: 'firamono'
    }
</style>