<div class=" relative pt-30 h-full bg-[url('/images/propertyBroker2.webp')] bg-cover bg-center mask-r-from-70% to-100% col-span-1 flex flex-col justify-start items-start md:pt-40 md:gap-4 md:p-6 md:w-full">
    <h1 transition:name="t-contacto" transition:animate="fade" class="max-w-[160px] pl-3 pt-10 text-amber-400 text-3xl leading-tight line-clamp-3 h-[6em] font-bold md:max-w-[200px] lg:max-w-[250px] md:text-4xl lg:text-5xl">¿Como te podemos Ayudar?</h1>
    <div class="absolute top-0 left-0 w-1/2 h-full bg-transparent backdrop-blur-sm mask-r-from-80% to-100% -z-10"></div>
</div>
<style>
    h1 {
        font-family: 'firamono'
    }
</style>
<script>
    import gsap from "gsap";
    import SplitText from "gsap/SplitText";
    gsap.registerPlugin(SplitText);
    document.fonts.ready.then(() => {
        const text = document.querySelector("h1");
        const split = new SplitText(text, { type: "chars" });
        gsap.fromTo(split.chars, { y: 50, opacity: 0 }, { y: 0, opacity: 1, duration: 1, ease: "power2.out", stagger: 0.05 });
    });
</script>