---
import Layout from "../../layouts/Layout.astro"


---

<Layout>
    <main class="container">
        <h1>Servicios</h1>
        <p>En esta sección encontrarás información sobre nuestros servicios de venta y renta de propiedades.</p>
        <ul>
            <li><a href="/servicios/corretajes">Corretaje de Propiedades</a></li>
            <li><a href="/servicios/asesorias">Asesorias de venta</a></li>
        </ul>
    </main>
</Layout>