---
import LayoutPages from "../../layouts/Layout-Pages.astro"
import NavGeneral from "../../components/NavGeneral.astro"
import CardServices from "../../components/Servicios/card-services.astro"
import { getCollection } from "astro:content"

const servicios = await getCollection("services");

---

<LayoutPages>
    <NavGeneral/>
    <main class="w-screen min-h-screen bg-no-repeat bg-cover flex flex-col items-center justify-center text-white pt-20 sm:pt-25">
        <div class="text-center mb-12 w-1/2 max-lg:w-3/4">
            <h1 transition:name="t-servicios" transition:animate="fade" class="text-amber-200 font-[800] text-5xl mb-3 lg:text-7xl">Servicios</h1>
            <p>En esta sección encontrarás información sobre nuestros servicios de venta y renta de propiedades. Da click para saber mas de nuestros</p>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6 p-4 justify-items-center max-lg:gap-0 max-xl:gap-2 ">
             {servicios.map(servicio=>{
            return (
                <CardServices title={servicio.data.titulo} description={servicio.data.descripcion} reference={servicio.data.referencia} mask={servicio.data.mask}/>
            )
        })}
        </div>
       
    </main>
</LayoutPages>
<style>
    main>* {
        font-family: 'FiraMono';
    }
    h1{
        font-family: FiraMono;
    }
</style>