---
import LayoutPages from "@layouts/Layout-Pages.astro"
import NavGeneral from "@components/NavGeneral.astro"
import FormularioTasas from "@components/tasaciones/formulario-tasas.astro"
---

<LayoutPages>
    <NavGeneral/>
    <main class="w-full h-screen overflow-scroll grid grid-cols-1 items-start justify-center pt-22 text-white md:pt-26 xl:overflow-hidden lg:pt-23 lg:gap-4 xl:grid-cols-3 xl:pt-25  ">
        <div class="col-span-1 w-full h-full flex flex-col items-center justify-center lg:justify-start xl:flex xl:flex-col xl:justify-center 2xl:items-center">
            <h1 transition:name="t-Tasaciones" transition:animate="fade" class="font-[800] text-5xl mb-0 text-amber-200 md:text-6xl lg:text-7xl xl:text-center">Tasaciones</h1>
            <h2 class="text-lg mb-0 mt-0 text-center text-amber-100 p-2">consulta sobre nuestros servicios de tasaciones</h2>
            <FormularioTasas/>
        </div>
        <div class="col-span-2 h-full ">
            
            <h1 class="font-[800] text-4xl mt-3 text-amber-200 md:text-6xl lg:text-7xl text-center drop-shadow-2xl pregunta">¿Como afecta una mala Tasación?</h1>
            <article class="h-3/4  p-6 grid grid-cols-1 gap-4 md:grid-cols-2 ">
                <!-- div de las desventajas -->
                <div class="grid w-full h-full bg-gradient-to-r from-red-400 from-[-50%] to-transparent to-100% backdrop-blur-sm p-4 rounded-3xl gap-4  mask-b-from-95% xl:grid-rows-6 ">
                    <h2 class="text-xl text[#F9F6EE] font-[700] place-content-center mx-auto  md:text-2xl  lg:text-3xl">Tasación Online</h2>
                    <ul class="grid gap-4 xl:row-span-5">
                        <li class="grid grid-cols-[auto,1fr] gap-2 text-sm md:text-base items-start">
                            <div class="flex items-center gap-2 md:gap-4 ">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#da0c0c" class="size-6 col-span-1 ">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m15.75 15.75-2.489-2.489m0 0a3.375 3.375 0 1 0-4.773-4.773 3.375 3.375 0 0 0 4.774 4.774ZM21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                                <strong class="text-[#fcf5e5]">Sin inspección presencial</strong>
                            </div>
                            <p>No se evalúan condiciones reales ni mejoras visibles</p>
                            
                        </li> 
                        <li class="grid grid-cols-[auto,1fr] gap-2 text-sm md:text-base items-start">
                            <div class="flex items-center gap-2 md:gap-4">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#da0c0c" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                            </svg>
                            <strong class="text-[#fcf5e5]">Posible incumplimiento legal</strong>
                            </div>
                            	<p>Puede no cumplir normas (Ley 20.830, SII, SVS)</p></li>
                        <li class="grid grid-cols-[auto,1fr] gap-2 text-sm md:text-base items-start">
                            <div class="flex items-center gap-2 md:gap-4">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#da0c0c" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                                </svg>
                                <strong class="text-[#fcf5e5]">Falta de transparencia legal</strong>
                            </div>
                            	<p>Servidumbres, restricciones, entorno no evaluados</p></li>
                        <li class="grid grid-cols-[auto,1fr] gap-2 text-sm md:text-base items-start">
                            <div class="flex items-center gap-2 md:gap-4">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#da0c0c" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5m6 4.125 2.25 2.25m0 0 2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                                </svg>
                                <strong class="text-[#fcf5e5]">Datos automatizados poco confiables</strong>
                            </div>
                            	<p>Bases de datos incompletas o desactualizadas</p>
                            </li>
                        <li class="grid grid-cols-[auto,1fr] gap-2 text-sm md:text-base items-start mb-6">
                            <div class="flex items-center gap-2 md:gap-4" >
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#da0c0c" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m0-10.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.25-8.25-3.286Zm0 13.036h.008v.008H12v-.008Z" />
                                </svg>
                                <strong class="text-[#fcf5e5]">Validez limitada en trámites formales</strong>
                            </div>
                            	<p>No sirve para hipotecas, herencias o uso judicial</p>
                            </li>
                    </ul>
                </div>
                <!-- div de las ventajas con Anhouse propiedades -->
                <div class="grid w-full h-full bg-gradient-to-r from-green-400 from-[-50%] to-transparent to-80% backdrop-blur-sm p-4 rounded-3xl gap-4 mask-b-from-95%">
                    <h2 class="flex flex-col text-xl text[#F9F6EE] place-content-center text-center mx-auto md:text-2xl lg:text-3xl font-[700]">Tasación AnHouse Propiedades</h2>
                    <ul class="grid gap-4 xl:row-span-5">
                        <li class="grid grid-cols-[auto,1fr] gap-2 text-sm md:text-base items-start">
                            <div class="flex items-center gap-2 md:gap-4">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0b4e0f" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                                </svg>
                                <strong class="text-lime-300">Cumple normativa legal y fiscal</strong>	
                            </div>
                            <p>Válida ante SII, bancos, notarías y en procesos legales (Ley N° 20.830)</p>
                        </li>
                        <li class="grid grid-cols-[auto,1fr] gap-2 text-sm md:text-base items-start">
                            <div class="flex items-center gap-2 md:gap-4 ">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0b4e0f" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                                </svg>
                                <strong class="text-lime-300">Evalúa el estado físico real del inmueble</strong> 	
                            </div>
                            <p>Revisa daños, mejoras, ampliaciones, calidad de materiales, entorno directo</p>
                            
                        </li>
                        <li class="grid grid-cols-[auto,1fr] gap-2 text-sm md:text-base items-start">
                            <div class="flex items-center gap-2 md:gap-4 ">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0b4e0f" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819" />
                                </svg>
                                <strong class="text-lime-300">Considera contexto urbano y regulatorio</strong>
                            </div> 
                            <p>Tiene en cuenta normas del plan regulador, copropiedad, plusvalía del sector</p>
                        </li>
                        <li class="grid grid-cols-[auto,1fr] gap-2 text-sm md:text-base items-start">
                            <div class="flex items-center gap-2 md:gap-4 ">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0b4e0f" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                                </svg>
                                <strong class="text-lime-300">Recibe atención directa y personalizada</strong>
                            </div>  	
                            <p>Usted puede resolver dudas, conversar con quien hace la tasación y entender el valor que recibe.</p>
                        </li>
                        <li class="grid grid-cols-[auto,1fr] gap-2 text-sm md:text-base items-start mb-6">
                            <div class="flex items-center gap-2 md:gap-4 ">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0b4e0f" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                                </svg>
                                 <strong class="text-lime-300">Le sirve para vender, heredar o financiar</strong>
                            </div>
                            <p>Útil para trámites legales y financieros	Sirve como respaldo para créditos, herencias, compraventas y declaraciones ante el SII</p>
                        </li>
                    </ul>
                </div>

            </article>
        </div>
        
    </main>
</LayoutPages>
<style>
    .pregunta{
        font-family: FiraMono, sans-serif;
    }
</style>