---
import '../styles/global.css'
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="A&C Propiedades - Venta y Renta de Propiedades" />
		<meta name="keywords" content="A&C, Propiedades, Venta, Renta, Inmuebles, Tasaciones, Asesorias, Corretaje" />
		<meta name="author" content="A&C Propiedades" />
		<meta name="theme-color" content="#043959" />
		<link rel="icon" type="image/svg+xml" href="/favicon/ac-propiedades-ico.ico" />
		<title>A&C Propiedades</title>
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
	   <footer>
    <div class="text-[12px] fixed bottom-0 left-0 w-full bg-transparent bg-opacity-70 text-center text-white py-4 z-50">
        <p>&copy; 2025 An House Propiedades. Todos los derechos reservados.</p>
        <a>Desarrollado con ♥ por <a href="https://github.com/DNO8">DNO99</a>
    </div>
    </footer>
</html>

