---
import '../styles/global.css'
import { ClientRouter } from 'astro:transitions';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AnHouse Propiedades - Tu aliado en el mercado inmobiliario, ofreciendo servicios de compra, venta y tasación de propiedades.
    Con años de experiencia, garantizamos un servicio profesional y personalizado para ayudarte a encontrar tu hogar ideal o maximizar el valor de tu propiedad.
    Descubre nuestras propiedades destacadas y contáctanos para una consulta gratuita.">
    <meta name="keywords" content="AnHouse Propiedades, inmobiliaria, compra, venta, tasación, propiedades, hogar, servicio profesional,Tasaciones, inmobiliaria confiable, propiedades destacadas, consulta gratuita">
    <meta name="author" content="DNO99">
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.ico" />
    <title>AnHouse Propiedades</title>
    <ClientRouter />
</head>
<body class=" bg-gradient-to-b from-[#043959] from-20% via-[#2858A0] via-80% to-[#D6810D] to-95%">
    <slot/>
</body>
   <footer class="flex justify-center items-center w-full bg-transparent">
        <div class="text-[8px] fixed bottom-0 bg-transparent bg-opacity-70 text-center text-white pb-2 z-50 w-fit mx-auto md:text-[10px] xl:text-[12px]">
            <p>&copy; 2025 An House Propiedades. Todos los derechos reservados.</p>
            <a href="https://github.com/DNO8" target="_blank">Desarrollado con ♥ por DANO</a>
        </div>
    </footer>

</html>