---
import '../styles/global.css'
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="AnHouse Propiedades - Tu aliado en el mercado inmobiliario, ofreciendo servicios de compra, venta y tasación de propiedades.
    Garantizamos un servicio profesional y personalizado para ayudarte a encontrar tu hogar ideal o maximizar el valor de tu propiedad.
    Descubre nuestras propiedades destacadas y contáctanos para una consulta gratuita." />
		<meta name="keywords" content="AnHouse, Propiedades, Venta, Renta, Inmuebles, Tasaciones, Asesorias, Corretaje" />
		<meta name="author" content="AnHouse Propiedades" />
		<meta name="theme-color" content="#043959" />
		<link rel="icon" type="image/svg+xml" href="/favicon/anhouse-propiedades-ico.ico" />
		<title>AnHouse Propiedades</title>
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>

