---
import '../styles/global.css'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon/ac-propiedades-ico.ico" />
		<title>A&C Propiedades</title>
	</head>
	<body>
		<slot />
	</body>
</html>

